# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:16
    container_name: accounting_db
    environment:
      POSTGRES_DB: accounting_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
